
 {% extends 'base.html' %}


{% block content %}

<div class='jumbotron'>
    <div align = 'center'>

        <h1> welocme to the page of {{current_user.username}}</h1>
        <img align='center' src='{{url_for('static',filename='profile_pics/'+current_user.profile_image)}}'>

    </div>
</div>

<div class='container'>
    <form method='POST' enctype='multipart/form-data'>

    {{form.hidden_tag()}}
    {{form.email.label}}{{form.email()}}<br>
    {{form.username.label}}{{form.username()}}<br>
    {{form.picture.label}}{{form.picture()}}<br>
    {{form.submit()}}

    </form>
</div>

{% endblock %} 